<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.dev.dao.mapper.FileMapper">
    
    <resultMap id="fileMap" type="com.campus.dev.model.FileDO">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="creator" column="creator"/>
        <result property="type" column="type"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="Table">
        file
    </sql>

    <sql id="Base_Column">
        `id`,`name`,`creator`,`type`,`created_at`,`updated_at`
    </sql>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">

        insert into
        <include refid="Table"/>
        (`name`,`creator`,`type`)

        values (#{entity.name},#{entity.creator},#{entity.type})

    </insert>

    <insert id="bulkInsert" keyProperty="id" useGeneratedKeys="true">

        insert into
        <include refid="Table"/>
        (`name`,`creator`,`type`,`created_at`,`updated_at`)

        values
        <foreach collection="list" item="entity" separator=",">
           (#{entity.name},#{entity.creator},#{entity.type},#{entity.createdAt},#{entity.updatedAt})
        </foreach>
    </insert>

    <select id="getById" resultMap="fileMap">
        select <include refid="Base_Column"/>
        from <include refid="Table"/>
        where id = #{id}

    </select>


    <select id="list" resultMap="fileMap">
        select <include refid="Base_Column"/>
        from <include refid="Table"/>
        where type = #{type}

    </select>

</mapper>